{
  "presets": [
    ["@babel/preset-env", {
      "useBuiltIns": "usage",
      "modules": false,
      "targets": {
        "browsers": ["> 1%", "last 2 versions", "not ie <= 9"]
      },
      "corejs": 2
    },
    "@babel/preset-stage-2"]
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime", {
      "corejs": 2
    }]
  ]
}
  