@import "./common/vars.scss";

@font-face {
  font-family: "iconfont";
  src: $iconfont-eot; /* IE9*/
  src: $iconfont-eot--iefix format('embedded-opentype'), /* IE6-IE8 */
  $iconfont-woff format('woff'), /* chrome, firefox */
  $iconfont-woff2 format('woff2'), /* chrome, firefox */
  $iconfont-ttf format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  $iconfont-svg format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-university:before {
  content: "\e60d";
}

.icon-left-circle:before {
  content: "\e77f";
}

.icon-down-circle:before {
  content: "\e780";
}

.icon-right-circle:before {
  content: "\e783";
}

.icon-up-circle:before {
  content: "\e785";
}

.icon-association:before {
  content: "\e631";
}

.icon-certification:before {
  content: "\e625";
}

.icon-course:before {
  content: "\e67c";
}
