@mixin absolute-fill {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

@mixin common-after-border {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    background: linear-gradient(to right, rgb(116, 235, 213), rgb(172, 182, 229));
}